{
  "extends": ["airbnb", "plugin:react/recommended", "plugin:prettier/recommended"],
  "plugins": ["react", "import", "prettier", "jsx-a11y"],
  "env": {
    "browser": true,
    "es2020": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": [0],
    "react/jsx-props-no-spreading": [0],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
